@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  width: 100%;
  margin: 0;
}

#root {
  overflow: hidden;
}

@theme {
  --color-: initial;
  --color-blueBlack: #0d0c22;
  --color-ash: #85827b;
  --font-header: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
